
@mainColor:#f54a36;

#layout {
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	background-color: #f0f0f0;
}

#topbar {
	position: fixed;
	max-width: 640px;
	// 固定定位若宽度设置为100%，则其宽度是与浏览器窗口同宽，（如：1349px），所以需要设置最大宽度；
	width: 100%;
	height: 40px;
	z-index: 10;
	.icon-logo{
		width: 60px;
		height: 24px;
		background-image: url(../images/sprites.png);
		background-size: 200px 200px;
		background-position: 0 -109px;
		position: absolute;
		top: 8px;
		left: 10px;
	}
	>form{
		padding-left: 70px;
		padding-right: 70px;
		width: 100%;
		height: 40px;
		.icon-search{
			position: absolute;
			width: 20px;
			height: 20px;
			background-image: url(../images/sprites.png);
			background-size: 200px 200px;
			background-position: -60px -109px;
			top: 10px;
			left: 75px;
		}
		>input {
			border-radius: 30px;
			height: 30px;
			margin-top: 5px;
			width: 100%;
			padding-left: 30px;
		}
	}
	.login{
		position: absolute;
		right: 10px;
		top: 0;
		text-align: center;
		width: 60px;
		line-height: 40px;
		color:white;
	}
}


#slide{
	position: relative;
	overflow: hidden;
	>ul:first-of-type{
		width: 1000%;
		transform:translateX(-10%);
		>li{
			width: 10%;
			float: left;
			>a{
				>img{
					width: 100%;
				}
			}
		}
	}
	>ul:last-of-type{
		position: absolute;
		left: 50%;
		transform:translateX(-50%);
		bottom: 10px;
		>li{
			width: 6px;
			height: 6px;
			float: left;
			border-radius: 50%;
			border: 1px solid #fff;
			margin-left: 10px;
			&.active{
			background-color: #fff;
		}
		}
	}
}

#nav {
	padding: 5px;
	background-color: #fff;
	>ul{
		>li{
			float: left;
			width: 25%;
			text-align: center;
			>a {
				>img {
					width: 58px;
					height: 58px;
				}
				>p {
					margin: 5px 0;
					font-size: 14px;
				}
			}
		}
	}
}


#products{
	padding: 15px 5px;
	.seckill {
		background-color: #fff;

		.seckill-title{
			height: 40px;
			font-size: 14px;
			>div {
				float: left;
				margin-left: 10px;
				&.seckill-icon{
					margin-top: 7px;
					>img{
						width: 20px;
						height: 25px;
					}
				}
				&.seckill-name{
					line-height: 40px;
					color:@mainColor;
				}
				&.seckill-downTime{
					margin-top: 10px;
					>span{
						display: inline-block;
						width: 15px;
						height: 15px;
						line-height: 15px;
						text-align: center;
						background-color: #000;
						color:#fff;
						&:nth-of-type(3),
						&:nth-of-type(6){
							background-color: transparent;
							color: #000;
						}
					}					
				}
				&.seckill-more{
					float: right;
					line-height: 40px;
					margin-right: 5px;
				}
			}
		}
		.seckill-body{
			>ul {
				>li {
					float: left;
					text-align: center;
					width: 33.33%;
					border-right: 1px solid #ccc;
					&:last-of-type{
						border-right: 0;
					}
					>a {
						>img{
							width: 60%;
						}
						>p{
							font-size: 12px;
							&:first-of-type{
								color:@mainColor;
							}
							&:last-of-type{
								text-decoration: line-through;
							}
						}
					}
				}
			}
		}
	}
	.jd-market {
		background-color: #fff;
		margin-top: 10px;
		.jd-market-title{
			>h4{
				line-height: 30px;
				font-weight: normal;
				position: relative;
				padding-left: 15px;
				&::before{
					content: '';
					position: absolute;
					width: 4px;
					height: 15px;
					background-color: @mainColor;
					top: 8px;
					left: 5px;
				}
			}
		}
		.jd-market-body{
			.left {
				float: left;
				width: 50%;
				>a{
					display: block;
					>img{
						width: 100%;
					}
				}
			}
			.right{
				float: left;
				width: 50%;
				>a{
					display: block;
					>img{
						width: 100%;
					}
				}
			}
		}
	}
}